/* HEADER AND BODY */
h1 {
  font-family: Monserat, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #444;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.body, body {
  font-family: arial, helvetica, sans-serif, sans;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 35px;
  margin-left: 0.5em;
}

.logo_link {
  text-decoration: none;
  color: inherits
}

.logo_text {
  font-family: Georgia;
  font-size: 1.2em;
  color: #444;
}

.avatar_img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  font-size: 2em;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #a5a5a5;
  display: grid;
  grid-template-columns: 60px auto 4em;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1em;
  width: 100%;
  max-width: 1600px;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
  color: #444;
}

.arcade {
  display: inherit;
  padding: 1em;
  justify-content: center;
}










/* Styling for the Games Table */

.arcade > #games > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.arcade > #games > ul > li {
  float: left;
  cursor: pointer;
}

.arcade > #games > ul > li a:active {
  border-bottom: 5px solid darkorange;
}

.arcade > #games > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.arcade > #games > ul > li a:hover {
  background-color: #111;
}

.highlighted {
  border-bottom: 5px solid darkorange;
}

table {
  width: 100%;
  border: 1px solid black;
  border-bottom: unset;
  border-spacing: unset;
}

tr {
  height: 50px;
}

th:first-child {
  padding-left: 14px;
}

td:first-child {
  padding-left: 14px;
}

td:last-child {
  padding-right: 10px;
}

th {
  border-bottom: 1px solid black;
}

td {
  border-bottom: 1px solid black;
  max-width: 3em;
  padding-bottom: unset;
}

select {
  max-width: 300px;
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  background: white;
}

.header_table {
  border-bottom: 1px solid black;
  background: lightsteelblue;
  width: 100%;
}

.table_button {
  width: 100%;
}

.gamelink, .accept_game, .reject_game, .delete_game, .joinlink {
  float: right;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
  font-size: 1em;
  color: white;
  width: 40%;
  /* display: inline-block; */
}

.accept_game {
  background: darkorange;
}

.reject_game {
  background: darkgrey;
}

.delete_game {
  background-color: red;
}

.joinlink {}








.sidebar {
  max-width: 300px;
  padding: 1em;
}


.quick_invite_box {}

.invite_link_description {
  display:none;
}

.invite_publickey_description {
  display:none;
}

.removecards {
  padding: 0px;
  margin: 0;
}

.removecards li {
  float: left;
  min-width: 250px;
  font-size: 15px;
  list-style-type: none;
  margin-left: 0px;
  padding-left:0px;
}

.removecards ul {
 padding: 0px;
 margin: 0;
 margin-block-start: 0px;
 margin-block-end: 0px;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 40px;
}







/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal_header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal_body {padding: 2px 16px; color: white;}

/* Modal Footer */
.modal_footer {
  padding: 2px 16px;
  color: white;
}

/* Modal Content */
.modal_content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #4e4e4e;
  border-radius: 5px;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 30%; opacity: 1}
}

#game_start_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.quick_link_input {
  padding: 10px;
  width: 63%;
  height: 40px;
}

.opponent_input_container {
  display: grid;
  grid-gap: 1em;
  width: 70%;
  margin-top: 1em;
}

.opponent_address {
  padding: 10px;
  width: 65%;
  height: 40px;
}



.return_to_arcade {
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  /* #border: 1px #444 solid; */
  border-radius: 5px;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1em auto;
  justify-content: center;
  align-items: center;
}

/* td {
  padding-bottom: 10px;
}

hr {
  border: 1px dashed #444444;
  width: 80%
}
 */

.gamelist {
  display: grid;
  row-gap: 1em;
  column-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.gametitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

.game_monitor {
  display: none;
  width: 100%;
  max-width: 750px;
  height: 87vh;
}

.game_details h3 {
  margin-top: 0.2em;
}

.game_options {
  display: inherit;
  row-gap: 1em
}

.options {
  display: grid;
  grid-template-columns: 5em auto;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 0px;
}

.publisher_message {
  margin-top:30px;
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.2em;
  color: 3444;
  height: 120px;
  overflow-y: scroll;
  padding: 1em;
  border: 1px black solid;
}

.quick_invite {
  background-color: rgb(0, 190, 10);
  color: white;
  border: rgb(0, 190, 10) 1px solid;
  border-radius: 5px;
  clear: both;
  padding: 0.5em;
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 25px;
  column-gap: 0.5em;
  display: block;
  width: 240px;
  text-align: center;
  float: left;
}

.game {
  min-width: 150px;
  position: relative;
}

.game:hover {
  color: #47A;
}

.gamename {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.15em;
  text-transform: uppercase;
}

.gameimage {
  width: 100%;
  text-align: center;
  border: 3px solid #888;
  cursor: pointer;
  max-width: 375px;
}

.gameimage:hover {
  border-color: #47A;
  opacity: 0.75;
}

.create_game_container {
  display: grid;
  grid-template-areas: "gameimage gamedescription" "game-generate game-generate";
  row-gap: 1em;
  column-gap: 1em;
  line-height: 1.4em;
  max-width: 1200px;
  padding-bottom:25px;
}


/* RIBBON */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
}
.ribbon span {
  position:  absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
}

/* top left*/
.ribbon_top_left {
  top: -10px;
  left: -10px;
}
.ribbon_top_left::before,
.ribbon_top_left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon_top_left::before {
  top: 0;
  right: 0;
}
.ribbon_top_left::after {
  bottom: 0;
  left: 0;
}
.ribbon_top_left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}


@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
  .gamelist {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  #gametable {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .ads {
    justify-self: center;
  }
  .logo {
    margin-left: 0.5em;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

#game_spinner {
  width: 50px;
  height: 50px;
  align-self: center;
  /* display: none; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .game {
    min-width: 50vw;
    margin-right: 1em;
  }

  .return_to_arcade {
    max-width: 200px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .ads {
    max-width: 300px;
  }

  .publisher_message {
    height: 100px;
  }
}
