/* HEADER AND BODY */

.body, body {
  font-family: arial, helvetica, sans-serif, sans;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 35px;
  margin-left: 0.5em;
  /* margin-top: 10px;
  margin-left: 25px;
  margin-right: 10px; */
  /* float: left; */
}

.logo_link {
  text-decoration: none;
  color: inherits
}

.logo_text {
  font-family: Georgia;
  /* padding-top: 6px; */
  font-size: 1.2em;
  color: #444;
}

.header {
  font-size: 2em;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #a5a5a5;
  display: grid;
  grid-template-columns: 60px auto 4em;
  align-items: center;
}

.find_player_button {
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.45em;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  margin-right: 5px;
  font-weight: bold;
  background: darkorange;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1em;
  width: 100%;
  max-width: 1600px;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
  color: #444;
}

.arcade {
  display: inherit;
  padding: 1em;
  justify-content: center;
}










/* Styling for the Games Table */

.arcade > #games > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.arcade > #games > ul > li {
  float: left;
  cursor: pointer;
}

.arcade > #games > ul > li a:active {
  border-bottom: 5px solid darkorange;
}

.arcade > #games > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.arcade > #games > ul > li a:hover {
  background-color: #111;
}

.highlighted {
  border-bottom: 5px solid darkorange;
}

table {
  width: 100%;
  border: 1px solid black;
  border-bottom: unset;
  border-spacing: unset;
}

tr {
  height: 50px;
}

th:first-child {
  padding-left: 14px;
}

td:first-child {
  padding-left: 14px;
}

th {
  border-bottom: 1px solid black;
}

td {
  border-bottom: 1px solid black;
  max-width: 3em;
  padding-bottom: unset;
}

select {
  max-width: 300px;
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  background: white;
}

.header_table {
  border-bottom: 1px solid black;
  background: lightsteelblue;
  width: 100%;
}

.table_button {
  width: 100%;
}

.gamelink, .accept_game, .reject_game, .delete_game, .joinlink {
  float: right;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
  font-size: 1em;
  color: white;
  width: 40%;
  /* display: inline-block; */
}

.accept_game {
  background: darkorange;
}

.reject_game {
  background: darkgrey;
}

.delete_game {
  background-color: red;
}

.joinlink {}








.sidebar {
  max-width: 300px;
  padding: 1em;
}


.quick_invite_box {}

.invite_link_description {
  display:none;
}

.invite_publickey_description {
  display:none;
}

.removecards {
  padding: 0px;
  margin: 0;
}

.removecards li {
  float: left;
  min-width: 250px;
  font-size: 15px;
  list-style-type: none;
  margin-left: 0px;
  padding-left:0px;
}

.removecards ul {
 padding: 0px;
 margin: 0;
 margin-block-start: 0px;
 margin-block-end: 0px;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 40px;
}

/* .opponent_address2 {
  display: none;
  margin-top: 20px;
}

.opponent_address3 {
  display: none;
  margin-top: 20px;
}

.opponent_address4 {
  display: none;
  margin-top: 20px;
}

.opponent_address5 {
  display: none;
  margin-top: 20px;
}

.opponent_address6 {
  display: none;
  margin-top: 20px;
} */









/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px; color: white;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;
}

/* Modal Content */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #4e4e4e;
  border-radius: 5px;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 30%; opacity: 1}
}

.opponent-address {
  padding: 10px;
  width: 65%;
}

#game-start-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
















/* .active_games {
  margin-bottom: 10px;
  margin-top: 25px;
  clear: both;
  padding-top: 10px;
}

.active_games_header {
  font-size: 1.2em;
  margin-bottom: 10px;
}


.single_activegame {
  width: 300px;
  padding: 14px;
  border: 1px dashed #47a;
  background-color: #efefef;
} */

/* .joingamelink, .acceptgamelink, .deletegamelink {
  display: inline-block;
} */

.return_to_arcade {
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  /* #border: 1px #444 solid; */
  border-radius: 5px;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1em auto;
  justify-content: center;
  align-items: center;
}

.join {
  margin-left: 10px;
}

td {
  padding-bottom: 10px;
}

hr {
  border: 1px dashed #444444;
  width: 80%
}


.gamelist {
  display: grid;
  row-gap: 1em;
  column-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.gametitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

.link {
  display: inline-block;
  cursor: pointer;
  max-width: 310px;
}

.game_monitor {
  display: none;
  width: 100%;
  max-width: 750px;
  height: 87vh;
}

.game_details h3 {
  margin-top: 0.2em;
}

/* .game_details {}

.game_details select {
  max-width: 300px;
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  background: white;
} */

.options {
  display: grid;
  grid-template-columns: 5em auto;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 0px;
}

.game_options {
  display: inherit;
  row-gap: 1em
}

.nonlink {
  text-decoration: none;
}

.publisher_message {
  margin-top:30px;
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.2em;
  color: 3444;
  height: 120px;
  overflow-y: scroll;
  padding: 1em;
  border: 1px black solid;

}

/* th {
  text-align: left;
}

td {
  text-align: left;
  padding-right: 45px;
} */

#gametable {
  font-size: 1.0em;
  display: grid;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, 330px);
  column-gap: 1em;
}

.active_games {
  display: none;
}

.status {
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

/* .invitation_player1 {
  display: block;
}

.invitation_player2 {
  display: block;
} */

.address_box {
  width: 700px;
  padding: 15px;
  background-color: #E7E7E7;
  border: 2px dashed #888;
  margin-bottom: 15px;
}

.game {
  min-width: 150px;
}

.game:hover {
  color: #47A;
}

.gamename {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.15em;
  text-transform: uppercase;
}

.gameimage {
  width: 100%;
  text-align: center;
  border: 3px solid #888;
  cursor: pointer;
  max-width: 375px;
}

.gameimage:hover {
  border-color: #47A;
  opacity: 0.75;
}

.create-game-container {
  display: grid;
  row-gap: 1em;
  line-height: 1.4em;
  max-width: 1200px;
  padding-bottom:25px;
  /* text-align: center; */
}

.compose {
  clear: both;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #ffffff;
  background-color: #d14836;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  line-height: 27px;
  height: 27px;
  font-weight: bold;
  font-size: 1.25rem;
  background-image: linear-gradient(to bottom, #dd4b39, #d14836);
  border: 1px solid #b0281a;
  cursor: pointer;
}

.compose:hover {
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  border: 1px solid #b0281a;
}


@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
  .gamelist {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  #gametable {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .ads {
    justify-self: center;
  }
  .logo {
    margin-left: 0.5em;
  }
}

.outreach {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  color: #444;
  text-decoration: none;
}

.outreach div {
  text-align: center;
}

.telegram {
  border: 3px solid white;
}

.wechat {
  border: 3px solid white;
}

.email {
  border: 3px solid white;
}

#chat_container {
  width: 25%;
}

.emphasis {
  display: inline-block;
  font-size: larger;
  padding: 10px 15px;
  margin: 5px;
}

/* #.emphasis:hover, .link:hover, .linkbutton:hover, .return_to_arcade:hover {
#  border-radius: 5px;
#  color: #eee;
#  background: #47A;
#  cursor: pointer;
#} */

h1 {
  font-family: Monserat, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #444;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.wechat-qr {
  display: block;
  transition: 0.5s;
  height: 0px;
  overflow: hidden;
  position: fixed;
  width: 25%;
  padding: 0 10px;
  background-color: #efefef9e;
  border-radius: 10px;
  z-index: 10;
}

#wechat-qr-img {
  margin-top: 15px;
  width: 100%;
}

#close-qr {
  float: left;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .saito_address {
    font-size: 0.6em;
  }
  .address_box {
    width: 90%;
    padding: 15px;
    background-color: #E7E7E7;
    border: 2px dashed #888;
    margin-bottom: 15px;
  }
  .outreach {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #chat_container {
    width: 200px;
  }
  .wechat-qr {
    top: 20px;
    width: 80%;
  }
  #wechat-qr-img {
    width: 50%;
  }
}

@media only screen and (max-width: 370px) {
  .ads {
    max-width: 300px;
  }

  .publisher_message {
    height: 100px;
  }
}

@media only screen and (min-width: 500px) {
  .return_to_arcade {
    max-width: 200px;
  }
}


.play_button {
  color: darkorange;
  border: darkorange 1px solid;
  border-radius: 5px;
}

#accept_invitation_container {
  display:grid;
  row-gap: 1em;
  text-align: center;
}

#start_game_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  justify-content: center;
}

.invite_button {
  background-color: rgb(0, 190, 10);
  color: white;
  border: rgb(0, 190, 10) 1px solid;
  border-radius: 5px;
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  margin-top: 1em;
  /* width: 94vw; */
  max-width: 400px;
  column-gap: 0.5em;
  display: block;
  width: 240px;
  text-align: center;
  float: left;
}
.invite_button:hover {
  background-color: white;
  color: rgb(0, 190, 10);
  border: rgb(0, 190, 10) 1px solid;
  border-radius: 5px;
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  margin-top: 1em;
  float:left;
}

#invite_join_button {
  padding: 1.1em;
  margin-top: 1em;
  width: 100%;
}

.quick_invite:hover {
    background-color: white;
    color: rgb(0, 190, 10);
    border: rgb(0, 190, 10) 1px solid;
    border-radius: 5px;
    clear: both;
    padding: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    column-gap: 0.5em;
    display: block;
    width: 240px;
    text-align: center;
    float: left;
}
.quick_invite {
    background-color: rgb(0, 190, 10);
    color: white;
    border: rgb(0, 190, 10) 1px solid;
    border-radius: 5px;
    clear: both;
    padding: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    column-gap: 0.5em;
    display: block;
    width: 240px;
    text-align: center;
    float: left;
}
.quick_invite_switch, .invite_button_switch {
    margin-top: 34px;
    padding-left: 20px;
    float: left;
}
.invite_link_container {
  display: grid;
  grid-template-columns: auto 2em;
  column-gap: 1em;
  align-items: center;
  /* margin-top: 1em; */
  max-width:600px;
}

.invite_link_input {
  height: 50px;
  width: 100%;
  font-size: 1em;
  border: 1px black solid;
  padding: 10px;
}

#invite_link_clipboard {
  font-size: 2em;
  color: darkblue;
}

.invite_button:hover {
  background: rgb(0, 190, 10);
  color: #efefef;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

#game_spinner {
  width: 50px;
  height: 50px;
  align-self: center;
  /* display: none; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

/* ribbon common */
.game {
  position: relative;
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
}
.ribbon span {
  position:  absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
}

/* top left*/
.ribbon_top_left {
  top: -10px;
  left: -10px;
}
.ribbon_top_left::before,
.ribbon_top_left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon_top_left::before {
  top: 0;
  right: 0;
}
.ribbon_top_left::after {
  bottom: 0;
  left: 0;
}
.ribbon_top_left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}




/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .game {
    min-width: 50vw;
    margin-right: 1em;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


}
