.vscode
.vscode/*

logs
logs/*

config
config/
config/options.*

.DS_Store
node_modules
node_modules/*
tests/config/env
package-lock.json



data/*.sq3
data/blocks/*.blk

lib/saito/*.swp
lib/saito/web/browser.js
lib/saito/web/client.options
lib/modules/mods/*


mods/imperium
mods/imperium/*
mods/pandemic
mods/pandemic/*
mods/twilight
mods/twilight/*
mods/scrabble
mods/scrabble/*
mods/appstore/saitolib
mods/appstore/saitolib/*
mods/appstore/saitolib/saito/web/client.options
mods/advert/web/cache/*.png
mods/appstore/web/cache/*
mods/explorer/web/index.html
mods/fcm-notification/*.json
mods/registry/web/addresses.txt
mods/reddit/web
mods/reddit/web/*

extras/shashmap/build
