.invite_main {
  display:grid;
  justify-content: center;
  justify-items: center;
  padding: 2em;
}

.invite_title {
  font-size: 2.9em;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.invite_description {
  font-size: 1.5em;
  justify-self: center;
  text-align: center;
}

.invite_tutorial_cards {}

.invite_play_button {
  color: white;
  border: darkorange 1px solid;
  border-radius: 5px;
  width: 8em;
  height: 3em;
  background-color: darkorange;
  font-size: 1.5em;
}

.invite_join_button {}

@media only screen and (max-width: 750px) {
  #join_game_invite_description {
    text-align: center;
  }

  .invite_main {
    height: 80vh
  }

  .manage_invitations {
    text-align: center;
  }
}