.invite_main {
  display:grid;
  justify-content: center;
  justify-items: center;
  padding: 2em;
  grid-template-rows: 5em auto;
}

.invite_title {
  font-size: 2.9em;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.invite_description {
  line-height: 1.8em;
  font-size: 1.5em;
  justify-self: center;
  text-align: center;
  /* line-height: 1.4em; */
}

.invite_tutorial_cards {}

.inviting_address {
  font-weight: bold;
}

.invite_play_button {
  color: white;
  border: darkorange 1px solid;
  border-radius: 5px;
  /* width: 8em; */
  width: 100%;
  height: 3em;
  background-color: darkorange;
  font-size: 1.5em;
  display: none;
}

.manage_invitations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}

.status {
  text-align: center;
}

#join_game_invite_description {
  text-align: center;
}

#invite_join_button {
  margin-top: 1em;
}

.get_tokens_button {
  color: white;
  border: #00b004 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 3em;
  background-color: #00b004;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

#game_spinner {
  width: 50px;
  height: 50px;
  align-self: center;
  display: none;
}

#token_spinner {
  width: 30px;
  height: 30px;
  margin-bottom: 1em;
  /* display: none; */
}

#token-success {
  display: none;
  font-size: 4em;
  width: 50px;
  height: 50px;
  padding: 12px;
  color: green;
  border: 5px solid green;
  border-radius: 100px;
  align-self: center;
  margin-bottom: 0.5em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

@media only screen and (max-width: 750px) {
  #join_game_invite_description {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .invite_main {
    height: 80vh
  }

  .manage_invitations {
    text-align: center;
    width: 100%;
  }

  .invite_description {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  .invite_play_button {
    width: 100%
  }

  #invite_join_button {
    margin-top: unset
  }

  .linkbutton {
    width:100%;
  }
}
