.ads {
  max-width: 300px;
  padding: 1em;
}

.opponent_address2 {
  display: none;
  margin-top: 20px;
}

.opponent_address3 {
  display: none;
  margin-top: 20px;
}

.opponent_address4 {
  display: none;
  margin-top: 20px;
}

.opponent_address5 {
  display: none;
  margin-top: 20px;
}

.opponent_address6 {
  display: none;
  margin-top: 20px;
}



.active_games {
  margin-bottom: 10px;
  margin-top: 25px;
  clear: both;
  padding-top: 10px;
}

.active_games_header {
  font-size: 1.2em;
  margin-bottom: 10px;
}


.single_activegame {
  width: 300px;
  padding: 14px;
  border: 1px dashed #47a;
  background-color: #efefef;
}

.gamelink, .accept_game, .delete_game, .joinlink {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  display: inline-block;
}

.joinlink {
  background: #47A;
  border-radius: 5px;
  color: white;
}

.joingamelink, .acceptgamelink, .deletegamelink {
  display: inline-block;
}

.return_to_arcade {
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  border: 1px #444 solid;
  border-radius: 5px;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1em auto;
  justify-content: center;
  align-items: center;
}

.join {
  margin-left: 10px;
}

td {
  padding-bottom: 10px;
}

hr {
  border: 1px dashed #444444;
  width: 80%
}

.arcade {
  display: inherit;
  padding: 1em;
  /* height: 87vh;
  grid-template-rows: 1em auto; */
}

.gamelist {
  display: grid;
  row-gap: 1em;
  column-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.gametitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

.link {
  display: inline-block;
  cursor: pointer;
}

.game_monitor {
  display: none;
  width: 100%;
  max-width: 750px;
  height: 87vh;
}

.game_details {
  max-width: 420px;
}

.game_details h3 {
  margin-top: 0.2em;
}

.game_details select {
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  background: white;
}

.options {
  display: grid;
  grid-template-columns: 5em auto;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 0px;
}

.game_options {
  display: inherit;
  row-gap: 1em
}

.nonlink {
  text-decoration: none;
}

.publisher_message {
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.2em;
  color: 3444;
  height: 120px;
  overflow-y: scroll;
  padding: 1em;
  border: 1px black solid;

}

th {
  text-align: left;
}

td {
  text-align: left;
  padding-right: 45px;
}

#gametable {
  font-size: 1.0em;
  display: grid;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, 330px);
  column-gap: 1em;
}

.active_games {
  display: none;
}

.status {
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

.invitation_player1 {
  display: block;
}

.invitation_player2 {
  display: block;
}

.address_box {
  width: 700px;
  padding: 15px;
  background-color: #E7E7E7;
  border: 2px dashed #888;
  margin-bottom: 15px;
}

.game {
  min-width: 150px;
}

.game:hover {
  color: #47A;
}

.gamename {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.15em;
  text-transform: uppercase;
}

.gameimage {
  width: 100%;
  text-align: center;
  border: 3px solid #888;
  cursor: pointer;
  max-width: 375px;
}

.gameimage:hover {
  border-color: #47A;
  opacity: 0.75;
}

.body, body {
  font-family: arial, helvetica, sans-serif, sans;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 35px;
  margin-left: 0.5em;
  /* margin-top: 10px;
  margin-left: 25px;
  margin-right: 10px; */
  /* float: left; */
}

.logo_link {
  text-decoration: none;
  color: inherits
}

.logo_text {
  font-family: Georgia;
  /* padding-top: 6px; */
  font-size: 1.2em;
  color: #444;
}

.header {
  font-size: 2em;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #a5a5a5;
  display: grid;
  grid-template-columns: 60px auto 4em;
  align-items: center;
}

.find_player_button {
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.45em;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  margin-right: 5px;
  font-weight: bold;
  background: darkorange;
}

.loader {
  width: 100%;
  max-width: 600px;
  font-size: 2em;
  line-height: 1.8em;
  padding: 30px;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1em;
  width: 100%;
  max-width: 1600px;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: auto;
  color: #444;
}

.manage_invitations {
  display: grid;
  row-gap: 1em;
  line-height: 1.4em;
}

.compose {
  clear: both;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #ffffff;
  background-color: #d14836;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  line-height: 27px;
  height: 27px;
  font-weight: bold;
  font-size: 1.25rem;
  background-image: linear-gradient(to bottom, #dd4b39, #d14836);
  border: 1px solid #b0281a;
  cursor: pointer;
}

.compose:hover {
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  border: 1px solid #b0281a;
}


@media only screen and (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }
  .gamelist {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  #gametable {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .ads {
    justify-self: center;
  }
  .logo {
    margin-left: 0.5em;
  }
}

.outreach {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  color: #444;
  text-decoration: none;
}

.outreach div {
  text-align: center;
}

.telegram {
  border: 3px solid white;
}

.wechat {
  border: 3px solid white;
}

.email {
  border: 3px solid white;
}

#chat_container {
  width: 25%;
}

.emphasis {
  display: inline-block;
  font-size: larger;
  padding: 10px 15px;
  margin: 5px;
}

.emphasis:hover, .link:hover, .linkbutton:hover, .return_to_arcade:hover {
  border-radius: 5px;
  color: #eee;
  background: #47A;
  cursor: pointer;
}

h1 {
  font-family: Monserat, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #444;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.wechat-qr {
  display: block;
  transition: 0.5s;
  height: 0px;
  overflow: hidden;
  position: fixed;
  width: 25%;
  padding: 0 10px;
  background-color: #efefef9e;
  border-radius: 10px;
  z-index: 10;
}

#wechat-qr-img {
  margin-top: 15px;
  width: 100%;
}

#close-qr {
  float: left;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .saito_address {
    font-size: 0.6em;
  }
  .address_box {
    width: 90%;
    padding: 15px;
    background-color: #E7E7E7;
    border: 2px dashed #888;
    margin-bottom: 15px;
  }
  .outreach {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #chat_container {
    width: 200px;
  }
  .wechat-qr {
    top: 20px;
    width: 80%;
  }
  #wechat-qr-img {
    width: 50%;
  }
}

@media only screen and (max-width: 370px) {
  .ads {
    max-width: 300px;
  }

  .publisher_message {
    height: 100px;
  }
}

@media only screen and (min-width: 500px) {
  .return_to_arcade {
    max-width: 200px;
  }
}

.accept_game {
  color: darkorange;
  border: darkorange 1px solid;
  border-radius: 5px;
}

.play_button {
  color: darkorange;
  border: darkorange 1px solid;
  border-radius: 5px;
}

.accept_game:hover {
  background: rgb(255, 140, 0);
  color: #efefef;
}

.invite_button {
  color: rgb(0, 190, 10);
  border: rgb(0, 190, 10) 1px solid;
  border-radius: 5px;
  clear: both;
  padding-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  margin-top: 1em;
  /* width: 94vw; */
  max-width: 400px;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1em auto;
  justify-content: center;
  align-items: center;
}

.quick_invite {
  color: rgb(0, 190, 10);
  border: rgb(0, 190, 10) 1px solid;
  border-radius: 5px;
  clear: both;
  padding: 0.5em;
  font-size: 0.9em;
  max-width: 400px;
  cursor: pointer;
  /* margin-top:10px; */
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: 1em auto;
  justify-content: center;
  align-items: center;
}

.invite_link_container {
  display: grid;
  grid-template-columns: auto 2em;
  column-gap: 1em;
  align-items: center;
  /* margin-top: 1em; */
  max-width:425px;
}

.invite_link_input {
  height: 50px;
  width: 100%;
  font-size: 1em;
  border: 1px black solid;
  padding: 10px;
}

#invite_link_clipboard {
  font-size: 2em;
  color: darkblue;
}

.invite_button:hover {
  background: rgb(0, 190, 10);
  color: #efefef;
  cursor: pointer;
}

/* ribbon common */
.game {
  position: relative;
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
}
.ribbon span {
  position:  absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
