pre {
    font-family: Consolas, 'Courier New', Courier, monospace; 
    margin: 0;
}

#chat_container {
    display: grid;
    position: inherit;
    grid-template-columns: 1fr;
    grid-template-rows: 3.2em auto 3.0em;
    grid-template-areas: "chat_header" "chat_main" ".";
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 0;
    margin: 0
}

#chat_main {
    grid-area: chat_main;
    overflow-y: scroll;
    padding: 5px;
}

#chat_header {
    grid-area: chat_header;
    display: grid;
    grid-template-columns: 60% 10% 30%;
    border-bottom: 1px solid #a5a5a5;
    font-size: 2em;
    cursor: pointer;
}

#chat_saitoLogo {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.chat_messages-list {
    padding: 0;
    margin: 0;
}

.chat_chat-room-selector {
    text-align-last:center;
    border: 1px solid grey;
    width: 95%;
    font-size: 0.5em;
}

.chat_chat-room-selector > option {
    font-weight: bold;
}
.chat_send {
    clear: both;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    color: #ffffff;
    background-color: #d14836;
    text-align: center;
    padding: 20px;
    line-height: 27px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #dd4b39, #d14836);
    border: 1px solid #b0281a;
    cursor: pointer;
  }

.chat_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.chat_orange_button {
    text-align: center;
    width: 100%;
    justify-self: center;
    align-self: center;
    background: #ff8844;
    color: #fff !important;
    font-size: 0.9vw;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor:pointer;
}

.chat_close:hover,
.chat_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 750px)   {
    #chat_saitoLogo {
        width: 35px;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .chat_chat-room-selector{
        align-self: center;
        height: 70%;
    }

    .chat_chat-room-selector > option {
        font-weight: bold;
    }
}

#chat_new-message {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 3em;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#chat_new-message-input {
    width: 100%;
    height: 100%;
    resize: none;
    margin: auto;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
}

.chat-send-message-button {
    cursor: pointer;
}

#chat_messages-list {
    padding: 5px 0 0 5px;
    padding: 0;
    margin: 0;
}

.chat_message_container {
    display: grid;
    grid-template-columns: 90% 10%;
    /* cursor: default; */
}

.chat_message {
    margin-right: 1px;
    line-height: 1.2em;
    font-size: 1.2em;
    white-space: normal;
}

.chat_timestamp {
    justify-self: right;
    color: rgb(102, 102, 102);
    font-size: 1.0rem;
    padding-top: 5px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#chat_sidebar {
    grid-area: chat_sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}

.message_author {
    font-weight: bold;
}


@media only screen and (max-width: 535px) {
    #chat_header {
        grid-template-columns: 55% 15% 30%;
    }

    .chat_chat-room-selector {
        width: 100%;
    }

    .chat_orange_button {
        height: 100%;
        font-size: 0.4em;
    }

    .chat_chat_main {
        font-size: 0.9em;
    }

    .chat_message {
        line-height: 1.2em;
        padding-bottom: 0.5em;
    }

    .chat_timestamp {
        padding: 0;
    }
}


/* emoji picker */

.test-emoji{
    position: absolute;
    text-align:center;
    font-size: 2rem;
    left: 0%;
    width: 100%;
    top: 20%;
  }
  
  .intercom-composer-popover-input{
      font-size-adjust: none;
      font-size: 100%;
      font-style: normal;
      letter-spacing: normal;
      font-stretch: normal;
      font-variant: normal;
      font-weight: 400;
      font: normal normal 100% "intercom-font", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: left;
      text-align-last: auto;
      text-decoration: none;
      -webkit-text-emphasis: none;
      text-emphasis: none;
      text-height: auto;
      text-indent: 0;
      text-justify: auto;
      text-outline: none;
      text-shadow: none;
      text-transform: none;
      text-wrap: normal;
      alignment-adjust: auto;
      alignment-baseline: baseline;
      -webkit-animation: none 0 ease 0 1 normal;
      animation: none 0 ease 0 1 normal;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      -webkit-appearance: normal;
      -moz-appearance: normal;
      appearance: normal;
      azimuth: center;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      background: none 0 0 auto repeat scroll padding-box transparent;
      background-color: transparent;
      background-image: none;
      baseline-shift: baseline;
      binding: none;
      bleed: 6pt;
      bookmark-label: content();
      bookmark-level: none;
      bookmark-state: open;
      bookmark-target: none;
      border: 0 none transparent;
      border-radius: 0;
      bottom: auto;
      box-align: stretch;
      -webkit-box-decoration-break: slice;
      box-decoration-break: slice;
      box-direction: normal;
      box-flex: 0.0;
      box-flex-group: 1;
      box-lines: single;
      box-ordinal-group: 1;
      box-orient: inline-axis;
      box-pack: start;
      box-shadow: none;
      box-sizing: content-box;
      -webkit-column-break-after: auto;
      break-after: auto;
      -webkit-column-break-before: auto;
      break-before: auto;
      -webkit-column-break-inside: auto;
      break-inside: auto;
      caption-side: top;
      clear: none;
      clip: auto;
      color: inherit;
      color-profile: auto;
      -webkit-column-count: auto;
      -moz-column-count: auto;
      column-count: auto;
      -webkit-column-fill: balance;
      -moz-column-fill: balance;
      column-fill: balance;
      -webkit-column-gap: normal;
      -moz-column-gap: normal;
      column-gap: normal;
      -webkit-column-rule: medium medium #1f1f1f;
      -moz-column-rule: medium medium #1f1f1f;
      column-rule: medium medium #1f1f1f;
      -webkit-column-span: 1;
      -moz-column-span: 1;
      column-span: 1;
      -webkit-column-width: auto;
      -moz-column-width: auto;
      column-width: auto;
      -webkit-columns: auto auto;
      -moz-columns: auto auto;
      columns: auto auto;
      content: normal;
      counter-increment: none;
      counter-reset: none;
      crop: auto;
      cursor: auto;
      direction: ltr;
      display: inline;
      dominant-baseline: auto;
      drop-initial-after-adjust: text-after-edge;
      drop-initial-after-align: baseline;
      drop-initial-before-adjust: text-before-edge;
      drop-initial-before-align: caps-height;
      drop-initial-size: auto;
      drop-initial-value: initial;
      elevation: level;
      empty-cells: show;
      fit: fill;
      fit-position: 0 0;
      float: none;
      float-offset: 0 0;
      grid-columns: none;
      grid-rows: none;
      hanging-punctuation: none;
      height: auto;
      hyphenate-after: auto;
      hyphenate-before: auto;
      hyphenate-character: auto;
      hyphenate-lines: no-limit;
      hyphenate-resource: none;
      -webkit-hyphens: manual;
      -ms-hyphens: manual;
      hyphens: manual;
      icon: auto;
      image-orientation: auto;
      image-rendering: auto;
      image-resolution: normal;
      inline-box-align: last;
      left: auto;
      line-height: inherit;
      line-stacking: inline-line-height exclude-ruby consider-shifts;
      list-style: disc outside none;
      margin: 0;
      marks: none;
      marquee-direction: forward;
      marquee-loop: 1;
      marquee-play-count: 1;
      marquee-speed: normal;
      marquee-style: scroll;
      max-height: none;
      max-width: none;
      min-height: 0;
      min-width: 0;
      move-to: normal;
      nav-down: auto;
      nav-index: auto;
      nav-left: auto;
      nav-right: auto;
      nav-up: auto;
      opacity: 1;
      orphans: 2;
      outline: medium none invert;
      outline-offset: 0;
      overflow: visible;
      overflow-style: auto;
      padding: 0;
      page: auto;
      page-break-after: auto;
      page-break-before: auto;
      page-break-inside: auto;
      page-policy: start;
      -webkit-perspective: none;
      perspective: none;
      -webkit-perspective-origin: 50% 50%;
      perspective-origin: 50% 50%;
      pointer-events: auto;
      position: static;
      presentation-level: 0;
      punctuation-trim: none;
      quotes: none;
      rendering-intent: auto;
      resize: none;
      right: auto;
      rotation: 0;
      rotation-point: 50% 50%;
      ruby-align: auto;
      ruby-overhang: none;
      ruby-position: before;
      ruby-span: none;
      size: auto;
      string-set: none;
      table-layout: auto;
      top: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
      transform-origin: 50% 50% 0;
      -webkit-transform-style: flat;
      transform-style: flat;
      transition: all 0 ease 0;
      unicode-bidi: normal;
      vertical-align: baseline;
      white-space: normal;
      white-space-collapse: collapse;
      widows: 2;
      width: auto;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
      z-index: auto;
      text-align: start;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    
  }
  .intercom-composer-popover {
      z-index: 2147483003;
      position: absolute;
      bottom: 50px;
      /*right: calc(50% - 165px);*/
      right: 15px;
      box-shadow: 0 1px 15px 1px rgba(0,0,0,.08);
      background-color: #fff;
      border-radius: 6px;
      transition-duration: 200ms;
      transition-delay: 0ms;
      transform-style: flat;
      transform-origin: 50% 50% 0;
      opacity: 0;
      transition: all 0.2s linear;
      visibility: hidden;
  }
  .intercom-composer-popover.active{
    visibility: visible;
    opacity:1;
    bottom: 70px;
  }
  .intercom-emoji-picker {
      width: 330px;
      height: 260px;
  }
  .intercom-composer-popover-header {
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 40px;
      border-bottom: 1px solid #edeff1;
  }
  .intercom-composer-popover-input {
      font-weight: 400;
      font-size: 14px;
      color: #6e7a89;
      padding-left: 25px;
      height: 40px;
      width: 100%;
      box-sizing: border-box;
      border:none;
      outline: none;
  }
  .intercom-composer-popover-body {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 5px;
      padding: 0 20px;
      overflow-y: scroll;
  }
  .intercom-emoji-picker-group {
      margin: 10px -5px;
  }
  .intercom-emoji-picker-group {
      margin: 10px -5px;
  }
  .intercom-emoji-picker-group-title {
      font-family: 'Montserrat',sans-serif;
      color: #ff8800;
      font-weight: 700;
      font-size: 16px;
      margin: 5px;
  }
  .intercom-emoji-picker-emoji {
      padding: 5px;
      width: 30px;
      line-height: 30px;
      display: inline-table;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      font-size: 28px;
      transition: -webkit-transform 60ms ease-out;
      transition: transform 60ms ease-out;
      transition: transform 60ms ease-out,-webkit-transform 60ms ease-out;
      transition-delay: 60ms;
      font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
  }
  .intercom-emoji-picker-emoji:hover {
      transition-delay: 0ms;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
  }
  .intercom-composer-popover-caret {
      position: absolute;
      bottom: -8px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fff;
      right:60px;
  }
  
  .chat-input-tool{
    background-color: #ff8800;
    padding: 10px;
    border:none;  
    border-radius: 5px;
    position: absolute;
    bottom:5px;
    right: 50px;
    outline:none;
  }