#chat_saitoLogo {
  display:none;
}
#chat_saitoText {
  padding-left: 5px;
}
.mail_chat_popup {
  position: fixed;
  right: 400px;
  bottom: 500px;
  z-index: 100;
}
#chat_header {
  grid-template-columns: 20% 15% 65%;
  grid-gap: 5px;
  /* margin: 5px; */
}
#chat_main {
  height:420px;
}
#chat_container {
  max-width: 400px;
  background-color: white;
  border: 1px solid #a5a5a5;
  font-size: 0.8rem;
}
.chat_message {
  font-size: 1.15em;
  line-height: 1.5em;
  white-space: normal;
}
.chat_timestamp {
  font-size: 0.7rem;
}
.chat_messages-list {
  padding-bottom: 5px;
}
#chat_messages-list {
  padding-bottom: 5px;
}
#chat_new-message-input{
  max-width: 400px;
}
.intro_message {
  font-size: 1.15em;
  line-height: 0.8em;
  padding-top: 5px;
}
#message_id_0 {
  white-space: none;
}
.lightbox_message_to_address {
  cursor:pointer;
}
.lightbox_message_from_address {
  cursor:pointer;
}
.mail {
  min-height: 400px;
}
.sidechat {
 display: block;
 border: 1px solid #a5a5a5;
 width: 162px;
 height: 300px;
 max-width: 162px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 overflow-y: scroll;
 overflow-x: none;
}
.sidechat_contact {
 width: 140px;
 height: 20px;
 padding: 2px;
 background-color: #fff;
}
.sidechat_contact:hover {
 cursor: pointer;
 width: 100%;
 height: 20px;
 padding: 2px;
 background-color: #b1b1e5;
}
.sidechat_controls {
 display: block;
 width: 164px;
 margin-left:auto;
 margin-right:auto;
}
.sidechat_controls_add {
 float:left;
 border-left:1px solid #a5a5a5;
 border-bottom:1px solid #a5a5a5;
 width:30px;
 padding-top:4px;
 padding-bottom:4px;
 padding-left:6px;
 padding-right:6px;
 background-color:#f7f7f7;
 border-right: 1px solid #a5a5a5;
 cursor:pointer;
}
.sidechat_controls_info {
 float:left;
 border-bottom:1px solid #a5a5a5;
 width:30px;
 padding-top:4px;
 padding-bottom:4px;
 padding-left:6px;
 padding-right:6px;
 background-color:#f7f7f7;
 border-right: 1px solid #a5a5a5;
 cursor:pointer;
}


@media only screen and (max-width: 800px) {
  .mail_chat_popup {
    /* display: none */
    bottom: unset;
    right: unset;
  }
  #chat_header {
    grid-template-columns: 50% 50%;
    grid-gap: unset;
  }
  #chat_new-message {
    display: flex;
    justify-content: space-around;
    background: white;
  }
  #chat_new-message-input {
    max-width: unset;
  }
  .sidechat {
    display: none
  }
  .sidechat_controls {
    display: none
  }
  #chat_container {
    max-width:100%;
    border: 0px;
    border-top: 1px solid #a5a5a5
  }
}


