body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  background-color: #024;
}

.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.player {
  margin-bottom: 6px;
}

.link {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.tosstiles {
  border-bottom: 1px dashed;
}

.main {
  display: block;
  max-width: 900px;
  min-width: 500px;
  margin: auto;
  margin-bottom: none;
  border: 1px solid orange;
  padding: 0px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(15, 15fr);
  grid-template-rows: repeat(15, 15fr);
  grid-gap: 3px;
  background: #999;
  border: 10px solid #333;
  padding: 10px;
}

.card {
  cursor: pointer;
}

#controls {
  margin: auto;
  display: block;
  overflow: hidden;
  background-color: #555;
  border: 2px solid #333;
  color: #EEE;
  height: 300px;
  position: relative;
}

.score {
  font-size: 1.6rem;
  padding: 10px 20px;
  display: inline-block;
  width: 20%
}

.rack {
  display: block;
  padding: 10px 0;
}

.shuffle {
  display: inline-block;
  font-size: 20px;
  width: 10%;
  cursor: pointer;
}

.tiles {
  display: inline-block;
  font-size: 1.9em;
  width: 80%
}

.tile {
  width: 100%;
  height: 100%;
}

.tiles img.tile {
  height: unset;
  width: 14%;
}

.status {
  font-size: 1.5rem;
  padding: 10px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  width: 65%;
}

.slot {
  cursor: pointer;
  background: #666;
  border: 2px solid #666;
  display: flex;
}

.slot:hover {
  background-color: #036;
  opacity: 0.8;
}

.tw {
  background-image: url(img/tw.png);
  background-size: cover;
  border: 2px solid pink;
}

.dw {
  background-image: url(img/dw.png);
  background-size: cover;
  border: 2px solid lightpink;
}

.tl {
  background-image: url(img/tl.png);
  background-size: cover;
  border: 2px solid lightblue;
}

.dl {
  background-image: url(img/dl.png);
  background-size: cover;
  border: 2px solid olive;
}

.star {
  background-image: url(img/star.png);
  background-size: cover;
  border: 2px solid black;
}

#chat_container {
  display: block;
}

@media only screen and (max-width: 600px) {
  .status {
    font-size: 1.4em;
    width: 60%;
  }
  .score {
    font-size: 1.4em;
    width: 20%;
  }
  .tiles {
    width: 60%
  }
  #controls {
    height: 200px;
  }
  .card {
    display: inline;
    padding-left: 10px;
    text-decoration: underline;
  }
}

@media only screen and (max-height: 1200px) {
  .status {
    font-size: 1.4em;
    width: 60%;
  }
  .score {
    font-size: 1.4em;
    width: 20%;
  }
  .tiles {
    width: 60%
  }
  #controls {
    height: 200px;
  }
  
  #chat_container {
    display: none;
  }
  .card {
    display: inline;
    padding-left: 10px;
    text-decoration: underline;
  }
}

.fixedbottom {
  position: fixed !important;
  bottom: 0;
}

.mainfixedbottom {
  margin: 0 0 201px 0;
}