body {
 font-family: arial, helvetica, sans-serif;
 font-size: 13px;
 padding:0px;
 margin:0px;
}
.connection_monitor {
 display:none;
 min-height: 30px;
 z-index: 90000;
 position: absolute;
 background: #ef6666;
 font-size: 1.8em;
 padding: 15px;
}
.player {
  margin-bottom:6px;
}
.link {
  border-bottom: 1px dashed;
  cursor:pointer;
}
.tosstiles {
  border-bottom: 1px dashed;
}
.backboard {
 position:absolute;
 top: 0;
 left: 0;
 width: 1590px;
 height: 1500px;
}
.gameboard {
  float:left;
  background-image: url("img/game0.jpg");
  background-size: cover;
  width: 1338px;
  height: 1458px;
}
.card {
  cursor:pointer;
}
.leftcol {
  position: fixed;
  right: 0px;
  top: 0px;
  line-height:1.7;
  z-index: 50000;
}
.score {
  clear:both;
  font-size: 1.8em;
  padding:10px;
  width: 225px;
  height: 200px;
}
.tiles {
  position:relative;
  font-size: 1.8em;
  padding:10px;
  width: 225px;
  height: 242px;
}
.status {
  position:relative;
  font-size: 1.8em;
  padding:10px;
  width: 225px;
  height: 200px;
  background-color: #fffccd;
  border: 2px solid #948f8b;
}
.slot {
 position: absolute;
 cursor: pointer;
}
.slot:hover {
 background-color: blue;
 opacity: 0.8;
}


