body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.connection_monitor {
  display: none;
  min-height: 30px;
  z-index: 90000;
  position: absolute;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.player {
  margin-bottom: 6px;
}

.link {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.tosstiles {
  border-bottom: 1px dashed;
}

.gameboard {
  background-image: url("img/game0.jpg");
  background-size: cover;
  width: 1338px;
  height: 1458px;
}

.card {
  cursor: pointer;
}

#controls {
  position: unset;
  bottom: 0px;
  min-height: 120px;
  display: inline-block;
  background-color: #555;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 3px;
  color: #EEE;
  width: 100%;
  max-width: 1324px;
}

#controls>div {
  height: 120px;
}

.score {
  font-size: 1.8em;
  padding: 10px;
  width: 175px;
  display: inline-block;
}

.tiles {
  font-size: 1.9em;
  padding: 10px;
  width: 590px;
  display: inline-flex;
  overflow: hidden;
  height: 86px;
}

.shuffle {
  display: inline-block;
  font-size: 20px;
  width: 75px;
  cursor: pointer;
}

.rack {
  display: inline-block;
}

.status {
  font-size: 1.8em;
  padding: 10px;
  width: auto;
  display: inline-block;
  min-width: 250px;
  max-width: 410px;
  height: 225px;
}

.slot {
  position: absolute;
  cursor: pointer;
}

.slot:hover {
  background-color: blue;
  opacity: 0.8;
}

@media only screen and (min-height: 1615px) {
  .gameboard {
    margin-bottom: 0;
  }
}

@media only screen and (max-height: 1615px) {
  #controls {
    position: fixed;
  }
  .gameboard {
    margin-bottom: 215px;
<<<<<<< HEAD
    }
}
=======
  }
}
>>>>>>> d83f52e3b2df0ae4fa5d6c9138e2be46a10c717f
