.modal_textarea {
  width: 100%;
  height: 120px;
  adding: 3px;
  font-size: 0.9em;
}
.modal_select {
  min-width: 120px;
  font-size:1.2em;
  padding: 4px;
}
.modal_label {
  text-align: left;
}

.body, body {
  font-family: arial, helvetica, sans-serif, sans;
  font-size: 1rem;
  padding:0px;
  margin:0px;
 }

table {
  font-size: 1em;
}
ul {
  margin-top: 0p;
  margin-bottom: 20px;
}
li > p {
  text-transform: normal;
  margin-top: 0px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#logout {
  margin-top:80px;
}
.announcement_textarea {
  height: 120px;
  width: 100%;
  font-size: 1.2em;
  padding: 5px;
}
.announcement {
  margin-bottom: 10px;
}
#post_announcement {
  clear: both;
  margin-top: 15px;
}

.avatar_img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

 .logo {
  width:35px;
  margin-top:10px;
  margin-left: 1.3em;
  margin-right: 0.35em;
  float:left;
 }

 .logo_link {
  text-decoration:none;
  color:inherits
 }

 .logo_text {
  font-family: 'Monserrat', sans-serif;
  padding-top:5px;
  font-size:1.1em;
  color:#444;
 }

 .loader {
  /* width: 100%;
  max-width: 600px; */
  font-size: 2em;
  line-height: 1.8em;
  padding: 30px;
 }

 .header {
  grid-area: header;
  width: 100%;
  height: 3.1rem;
  border-bottom: 1px solid #a5a5a5;
  font-size:2em;
 }

 .main {
   display: grid;
   grid-area: main;
   grid-template-columns: 70% auto;
   grid-template-areas:
   "content" "ads";
   padding-left: 1em;
   padding-right: 1em;
   font-size: 1.2em;
 }


 th, td {
   text-align: left;
 }


 @media only screen and (min-width: 535px) {
   .main {
     padding: 2.1em;
   }

   .body {
     font-size : 13px;
   }
 }

 li {
  margin-top:6px;
 }

 li {
  font-family: 'Montserrat',sans-serif;
 }

 .section_header {
   font-family:'Montserrat',sans-serif;
   font-size:2.0em;
   /* margin-bottom:10px; */
   color:#ff8844;
   clear:left;
 }

 .account_text {
  float:left;
  /* margin-bottom:10px; */
 }


 .banner {
   text-align: center;
   background: url(http://saito.tech/img/header/jason-patrick-schuller-163973-unsplash.jpg) center repeat;
   padding-top: 30px;
   padding-bottom: 25px;
   padding-left: 0px;
   padding-right: 0px;
 }

 .network_status {
   text-align:center;
   width:100%;
   font-weight:bold;
   font-size:0.7em;
   color:#444;
   padding-top:15px;
 }

 td {
   font-size: 1.2em;
 }
 .h {
   font-family: 'Montserrat', sans-serif;
   padding-right: 10px;
   font-weight: normal;
   color: #222;
 }
 .c {
   font-family: Courier, serif;
 }


 h1 {
   font-family: 'Montserrat',sans-serif;
   font-size: 50px;
   font-weight: 400;
   letter-spacing: -1px;
   margin: 0 0 22px 0;
   color: #fff;
 }
 h2 {
   font-size:34px;
   color:#ff8844;
   font-family: 'Montserrat', sans-serif;
   font-weight:700;
   letter-spacing: -1px;
   margin:0 0 15px 0;
   text-align:center;
   text-transform:uppercase;
 }
 .application {
   display: relative;
   float: left;
   height: 135px;
   width: 175px;
   margin-right: 25px;
   margin-bottom: 20px;
 }

 .application img {
   height: 135px;
   width: 175px;
   position:absolute;
   -webkit-transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
   -o-transition: opacity 0.5s ease-in-out;
   transition: opacity 0.5s ease-in-out;
 }
 .application img.tt:hover {
   opacity:0;
 }

 .demo_title {
  position:relative;
  top: 10px;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-size:1.4em;
  text-shadow: 1px 1px 5px #222;
 }

 .orange_button {
  text-align:center;
  width:120px;
  padding: 15px 35px;
  background: #ff8844;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 10;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor:pointer;
 }

 .buttons {
  /* //margin-top:15px; */
  clear:left;
  float:left;
  max-width:650px;
  /* min-width: 410px; */
 }

 .orange_button2 {
  width:160px;
  padding: 15px 35px;
  background: #ff8844;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor:pointer;
 }

 .content {
  display: grid;
  grid-row-gap: 1em;
 }

 .ads {
  justify-self: right;
  max-width: 300px;

 }

 /* @media only screen and (max-width: 715px) {
    .buttons {
      /* width: 25em;
      width
    }
/* } */

 @media only screen and (max-width: 500px) {
   .main {
     font-size: 1rem;
     padding-bottom: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
    "ads";
    grid-row-gap: 1em;
   }

   .logo {
     margin-left: 0.5em;
   }

   .buttons {
     justify-self: center;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-column-gap: 0.5em;
   }

   .orange_button {
     /* width: 105px; */
     padding: 1rem 2rem;
     font-size: 0.8em;
     /* padding: 0.8em 1.5em; */
   }

   .content {
     margin-top: 1em;
   }
   .ads {
      justify-self: center;
   }

   #saito_address {
      font-size: 0.5em;
   }

   .network_status {
     display: none;
   }
 }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal_header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal_body {padding: 2px 16px; color: white;}

#modal_header_text { margin-top: 1em; margin-bottom: 0.25em }

#modal_body_text { margin: 1em 0 1em 0; }

/* Modal Footer */
.modal_footer {
  display: none;
  padding: 2px 16px;
  color: white;
}

/* Modal Content */
.modal_content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #4e4e4e;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

